.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header, .screen {
  background-color: #282c34;
  /* min-height: 100vh; */
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
table{
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
}
#root{
  height: 100vh;
}
.screen{
  background-color: #ffffff;
  height: 40%;
}
